@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "persian-number";
  src: url("../assets/fonts/IRANSans-web.woff");
}

*,:after,:before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--tw-gray-200)
}

:after,:before {
  --tw-content: ""
}

:host,html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}

body {
  margin: 0;
  line-height: inherit
}