@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(../assets/style/fontiran.css); 


*,:after,:before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--tw-gray-200)
}

:after,:before {
  --tw-content: ""
}

:host,html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}

body {
	font-family: IRANSansX  !important;
	margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSansX !important;
}